.inputs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.checkbox {
  align-self: center;
}
@media (max-width: 50rem) {
  .inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
