.inputs {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.label {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 0.9rem;
  font-size: 0.8em;
  padding: 0 0.3em;
  font-weight: 300;
  color: #999;
  white-space: nowrap;
}
.required {
  font-size: 0.8rem;
  color: #c42828;
}

.checkbox {
  align-self: center;
}
@media (max-width: 50rem) {
  .inputs {
    grid-template-columns: repeat(2, 1fr);
  }
}
