.search-wrapper {
  position: relative;
  width: 100%;
}

.search {
  width: 8rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: white;
  color: var(--black-75);
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Poppins";
  border: 1px solid var(--black-75);
  outline: none;
  cursor: text;
  /* line-height: 0.77rem; */
}
.search:active {
  outline: none;
}
.search:focus {
  border: 1.25px solid var(--black-75);
}
.search-icon {
  color: var(--black-50);
  font-size: 1rem;
  position: absolute;
  top: 4px;
  right: 14px;
}
