.form {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.origin-country,
.destination-country,
.service {
  flex-basis: 25%;
  flex-shrink: 0;
  flex-grow: 0;
}
.val {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}
.val,
.origin-country,
.destination-country,
.service {
  display: flex;
  align-items: center;
  justify-content: center;
}
.active div {
  justify-content: center;
}
.input-wrapper {
  width: 98%;
}
