.data-types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ddd;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  width: max-content;
  margin: auto;
}
.type,
.active-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  color: var(--black);
  border-radius: 1rem;
  font-size: 0.8rem;
  font-family: "Poppins";
  font-weight: 400;
}
.active-type {
  background-color: #505262;
  color: rgba(255, 255, 255, 0.8);
}
