.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.first {
  display: flex;
  align-items: center;
  gap: .75rem;
}
.search {
  width: 17rem;
}
