.filters {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 1.5rem;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.filter-label {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 0.9rem;
  font-size: 0.8em;
  padding: 0 0.3em;
  font-weight: 300;
  color: #999;
  white-space: nowrap;
}

.table {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black-10);
  background-color: #f1f0f0;
  width: 100%;
  overflow-x: scroll;
  height: max-content;
}

.header {
  display: flex;
  margin: 0 10px;
  padding: 10px;
  border-bottom: 1px solid var(--black-10);
}

.header p {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 1rem;
  /* color: rgba(11, 48, 159, 0.87); */
  color: var(--black-50);
}
.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.row:hover {
  background-color: #dddddd74;
}
.body p {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 0.8rem;
  /* color: rgba(11, 48, 159, 0.87); */
  color: var(--black-50);
}
.name {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 0;
}

.surcharge_type {
  flex-basis: 15%;
  flex-shrink: 0;
  flex-grow: 0;
}

.type {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}

.online {
  flex-basis: 8%;
  flex-shrink: 0;
  flex-grow: 0;
}
.service {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 0;
}
.sort_order {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 0;
}
.shipment {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 0;
}
.currency {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 0;
}
.delete,
.space {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 0;
}
.container-type {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}
.add-btn {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border-radius: 0.25rem;
  border: 1px solid var(--black-75);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Poppins";
  color: var(--black-75) !important;
}
@media (max-width: 56.25rem) {
  .header {
    margin: 0 10px;
    padding: 10px;
  }

  .header p {
    font-size: 0.8rem;
  }

  .row {
    padding: 10px 20px;
  }
  .body p {
    font-size: 0.7rem;
  }
}
@media (max-width: 34rem) {
  .name {
    flex-basis: 15%;
  }

  .surcharge_type {
    flex-basis: 23%;
  }

  .type {
    flex-basis: 13%;
  }

  .online {
    flex-basis: 11%;
  }
  .service {
    flex-basis: 16%;
  }
  .sort_order {
    flex-basis: 17%;
  }
  .shipment {
    flex-basis: 17%;
  }
  .currency {
    flex-basis: 17%;
  }
  .delete {
    flex-basis: 17%;
  }
  .container-type {
    flex-basis: 17%;
  }
}
@media (max-width: 450px) {
  .name {
    flex-basis: 17%;
  }

  .surcharge_type {
    flex-basis: 28%;
  }

  .type {
    flex-basis: 15%;
  }

  .online {
    flex-basis: 13%;
  }
  .service {
    flex-basis: 18%;
  }
  .sort_order {
    flex-basis: 19%;
  }
  .shipment {
    flex-basis: 19%;
  }
  .currency {
    flex-basis: 19%;
  }
  .delete {
    flex-basis: 19%;
  }
  .container-type {
    flex-basis: 19%;
  }
}
