.container {
  border: 1px solid var(--black-10);
  background-color: #f1f0f0;
  width: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.action {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
.action * {
  color: var(--black-25);
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 0.8rem;
}

.action-button {
  border: none;
}
.table {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.header {
  display: flex;
  margin: 0 10px;
  padding: 10px;
  border-bottom: 1px solid var(--black-10);
}

.header p {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-size: 1.1rem;
  /* color: rgba(11, 48, 159, 0.87); */
  color: var(--black-50);
}
.body {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.row:hover {
  background-color: #dddddd74;
}
.body p {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 0.9rem;
  /* color: rgba(11, 48, 159, 0.87); */
  color: var(--black-50);
}
.checkbox {
  flex-basis: 3%;
  flex-shrink: 0;
  flex-grow: 0;
}
.status {
  flex-basis: 8%;
  flex-shrink: 0;
  flex-grow: 0;
}

.name {
  flex-basis: 17%;
  flex-shrink: 0;
  flex-grow: 0;
}
.service {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}

.contract-number {
  flex-basis: 12%;
  flex-shrink: 0;
  flex-grow: 0;
}
.form {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}

.till {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}
.base-origin {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}

.base-dest {
  flex-basis: 10%;
  flex-shrink: 0;
  flex-grow: 0;
}

.curr {
  flex-basis: 5%;
  flex-shrink: 0;
  flex-grow: 0;
}
.int {
  flex-basis: 2.5%;
  flex-shrink: 0;
  flex-grow: 0;
}

.ext {
  flex-basis: 2.5%;
  flex-shrink: 0;
  flex-grow: 0;
}
.mobile-add-new {
  display: none;
}
@media (max-width: 75rem) {
  .desktop-add-new {
    display: none;
  }
  .mobile-add-new {
    display: block;
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header {
    margin: 0 10px;
    padding: 10px;
  }

  .header p {
    font-size: 0.8rem;
  }

  .row {
    padding: 10px 20px;
  }
  .body p {
    font-size: 0.7rem;
  }
}
@media (max-width: 53rem) {
  .checkbox {
    flex-basis: 1.5rem;
  }
  .status {
    flex-basis: 15%;
  }

  .name {
    flex-basis: 18%;
  }
  .service {
    flex-basis: 13%;
  }

  .contract-number {
    flex-basis: 30%;
  }
  .form {
    flex-basis: 14%;
  }

  .till {
    flex-basis: 14%;
  }
  .base-origin {
    flex-basis: 19%;
  }

  .base-dest {
    flex-basis: 17%;
  }

  .curr {
    flex-basis: 9%;
  }
  .int {
    flex-basis: 7%;
  }

  .ext {
    flex-basis: 7%;
  }
}
