.checkbox {
  display: none;
}

.circle-checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-width: 15px;
  height: 15px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #cfcbcb;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.checkbox:checked + .checkmark {
  background-color: #4caf50;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox:checked + .checkmark:after {
  display: block;
}

.checkbox:checked + .checkmark:after {
  left: 5.5px;
  top: 3.5px;
  width: 2.5px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
