.selection {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.label {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 0.9rem;
  font-size: 0.8em;
  padding: 0 0.3em;
  font-weight: 300;
  color: #999;
  white-space: nowrap;
}
.required {
  font-size: 0.8rem;
  color: #c42828;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  width: 100%;
  color: var(--black-90);
  font-size: 0.9rem;
  font-family: "Roboto Condensed";
  font-weight: 500;
  cursor: pointer;
}
.arrow {
  font-size: 1.1rem;
  color: var(--primary);
}
.options::-webkit-scrollbar {
  width: 5.5px;
}

/* Track */
.options::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
.options::-webkit-scrollbar-thumb {
  background: rgba(103, 96, 96, 0.65);
  border-radius: 8px;
}

/* Handle on hover */
.options::-webkit-scrollbar-thumb:hover {
  background: rgba(103, 96, 96, 0.85);
}

.options {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.22rem;
  border: 1px solid var(--black-50);
  background-color: rgb(236 236 236);
  max-height: 9rem;
  overflow-y: scroll;
  border-top: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 10;
}
.search-wrapper {
  position: relative;
  width: 100%;
}

.search {
  width: calc(100% - 0.8rem);
  margin: 0.4rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  background: white;
  color: var(--black-75);
  font-size: 0.75rem;
  font-weight: 500;
  font-family: "Poppins";
  border: 1px solid var(--black-75);
  outline: none;
  cursor: text;
  /* line-height: 0.77rem; */
}
.search:active {
  outline: none;
}
.search:focus {
  border: 1.25px solid var(--black-75);
}
.search-icon {
  color: var(--black-50);
  font-size: 1.1rem;
  position: absolute;
  top: 9px;
  right: 14px;
}

.option {
  font-size: 0.81rem;
  cursor: pointer;
  color: var(--black-90);
  font-size: 0.75rem;
  font-family: "Roboto Condensed";
  font-weight: 500;
  width: 100%;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.icon {
  color: var(--black-90);
}
.option:hover,
.option:hover .icon {
  background: var(--black-50);
  color: white;
}
