.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.search {
  width: 17rem;
}
@media (max-width: 75rem) {
  .top {
    padding-bottom: 2rem;
  }
  .search {
    width: 13rem;
  }
}
@media (max-width: 31.5rem) {
  .search {
    width: 11rem;
  }
}
