.title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1.5rem;
  /* color: rgba(11, 48, 159, 0.87); */
  color: var(--secondary);
}
@media (max-width: 75rem) {
  .title {
    font-size: 1.4rem;
  }
}
@media (max-width: 50rem) {
  .title {
    font-size: 1.3rem;
  }
}
@media (max-width: 37.5rem) {
  .title {
    font-size: 1.2rem;
  }
}
